.p-datepicker table td > span.p-highlight {
    color: #ffffff;
    background: #5c9dd9;
}

.details-dialog .grid {
    margin-top:0px;
}

.profile-card {
  /*border: 1px solid #eeeeee !important;*/
  background: #efefef;
  border-radius: 5px !important;
  padding: 8px;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 116px;
}

.profile-card .profile-name {
  padding-top: 10px;
}

.profile-card .profile-name span {
  text-align: center;
}

.details-dialog .duration-str {
  font-weight: bold;
  margin-right: 10px;
}

.details-dialog .map {
  margin-top: 10px;
}

.details-dialog .p-datepicker {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.details-dialog .leaflet-container {
  border-radius: 5px;
}

.details-dialog .p-chip {
  font-size: 12px;
  font-weight: bold;
}

.details-dialog div.SB {
  border-color: #1c76c8;
}
.details-dialog div.BL {
  border-color: #1c76c8;
}
.details-dialog div.BA {
  border-color: #dfc700;
}
.details-dialog div.LH {
  border-color: #cb5600;
}
.details-dialog div.JZ {
  border-color: #cb5600;
}
.details-dialog div.BW {
  border-color: #d40000;
}
.details-dialog div.SH {
  border-color: #9c00e4;
}
.details-dialog div.CH {
  border-color: #cb5600;
}
.details-dialog div.AF {
  border-color: #dfc700;
}
.details-dialog div.FS {
  border-color: #9c00e4;
}

