#dance-event-list {
    width: 700px;
    display: inline-block;
    margin-right: 30px;
}

.event-list-row td {
    background: #efefef;
}

.event-table-list {

}

#dance-event-list .p-datatable-scrollable .p-datatable-tbody>tr>td {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px dashed #cccccc !important;
}

#dance-event-list .duration {
    margin-left: 15px;
}

#dance-event-list .mb-2 {
    margin-bottom: 2px !important;
}

#dance-event-list span.p-rowgroup-header-name {
    display: inline-block;
}

#dance-event-list .title-container {
    padding-right: 0px;
}

#dance-event-list .p-rowgroup-header > td > span {
    padding-bottom: 5px !important;
    padding-top: 30px !important;
    padding-left: 15px;
}

#dance-event-list .teachers-container .p-chip {
    color: #ffffff;
    background: #777777;
}

#dance-event-list .camp-icon {
    margin-right: 5px;
    vertical-align: middle;
}

#dance-event-list .camp-icon .MuiSvgIcon-root {
    height: 18px;
    width: 18px;
}

#dance-event-list .live-music {
    margin-left: 15px;
}

#dance-event-list .live-music .p-chip {
    background-color: #5c9dd9;
}
